<%- partial('_partial/bg-cover') %> 

<main class="content"> 
    <div id="contact" class="container chip-container"> 
	    <div class="card"> 
		    <div class="card-content" style="padding: 30px"> 
                <% if (theme.myGallery && theme.myGallery.enable) { %>
                    <%- partial('_widget/my-gallery') %>
                <% } %>
			</div>
		</div> 
	</div> 
</main>

